h1, h2, h3, h4, h5, h6, body, p, span, div, body, p, a, ul, li, ol {
  font-family: "Nunito", serif;
}

.hero-section-slider img {
  height: 80vh !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
  -o-object-position: top;
     object-position: top;
}

.productcard {
  background: #fff !important;
}

body {
  background: #f7f7f7 !important;
}
body p, body h3, body h3, body h1, body span {
  background-color: transparent !important;
}

a {
  color: #453d3d;
  text-decoration: none;
}

p {
  margin: 0px !important;
}

#cod-btn {
  display: none;
}

.prev-arrow, .next-arrow {
  position: absolute;
  top: 50%;
  z-index: 999;
  font-size: 21px;
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  left: -1px;
  padding: 10px 20px;
}

.next-arrow {
  right: 0px;
  left: auto;
}

.prev-arrow:hover, .next-arrow:hover {
  background: #fff !important;
  color: #000 !important;
  border-color: #fff !important;
}

.d-section {
  background: #fff;
  margin: 50px 15px !important;
  padding: 30px 15px !important;
  border-radius: 10px !important;
}
.d-section h2 {
  display: inline-block;
  background: #fff;
  z-index: 1;
  position: relative;
  padding-right: 40px;
  font-size: 26px;
}
.d-section hr {
  margin-top: -22px;
}
.d-section .col-md-2 {
  position: relative;
  z-index: 2;
  background: #fff;
}

.globalbtn {
  background: #232f3e;
  color: #fff;
  padding: 12px 22px;
  border-radius: 54px;
  position: relative;
  z-index: 2;
}
.globalbtn:hover {
  background: #000;
}

.slide-cols {
  padding: 10px;
}

.scard {
  position: relative;
}
.scard .title {
  font-size: 16px;
  margin-top: 10px !important;
}
.scard .offer {
  font-size: 13px;
  font-weight: bold;
  margin-top: 4px !important;
  position: absolute;
  top: -1px;
  right: 3px;
  color: red;
  animation: highlightText 600ms infinite alternate;
  background: #fff !important;
  padding: 0px 5px;
}

.button1 {
  background: #232f3e;
  color: #fff;
  padding: 14px 40px;
  border: 1px solid #232f3e;
  border-radius: 0px;
  position: relative;
  z-index: 2;
}
.button1:hover {
  background: #000;
}

.button2 {
  background: #ffffff;
  color: #232f3e;
  padding: 14px 40px;
  border: 1px solid rgba(35, 47, 62, 0.4352941176);
  border-radius: 0px;
  position: relative;
  z-index: 2;
}
.button2:hover {
  border: 1px solid #000;
  color: #000;
}

.container-fluid .row-2 {
  padding: 0px 15px !important;
}

#phonefailed, #phonesuccess {
  display: none;
}

@keyframes highlightText {
  0% {
    color: black;
  }
  50% {
    color: red;
  }
  100% {
    color: black;
  }
}
@media only screen and (max-width: 768px) {
  .hero-section-slider img {
    height: 17vh !important;
    -o-object-fit: cover !important;
    object-fit: cover !important;
    -o-object-position: top;
       object-position: top;
  }
  .mb-none {
    display: none !important;
  }
  .d-section h2 {
    font-size: 14px;
  }
  .globalbtn {
    font-size: 12px !important;
  }
  .d-section {
    background: #fff;
    margin: 50px 10px !important;
    padding: 15px 0px !important;
    border-radius: 10px !important;
  }
  .prev-arrow, .next-arrow {
    top: 36%;
    z-index: 999;
    font-size: 9px;
    background: transparent;
    color: #fff;
    border: 2px solid #b8b6b6;
    padding: 5px 5px;
  }
  .shopbycategory .prev-arrow, .shopbycategory .next-arrow {
    color: #5b5858;
    border: 0px solid #5b5858;
    padding: 5px 5px;
  }
  .shopbycategory .prev-arrow {
    left: -12px;
  }
  .shopbycategory .next-arrow {
    right: -12px;
  }
  .globalbtn {
    background: #232f3e;
    color: #fff;
    padding: 8px 15px;
    font-size: 10px;
  }
  .scard .title {
    font-size: 16px;
  }
  .scard .offer {
    font-size: 18px;
  }
  .d-section h2 {
    font-size: 16px;
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 10px;
    line-height: 24px;
  }
  .scard .title {
    font-size: 13px;
  }
  .scard .offer {
    font-size: 16px;
    margin-top: 5px;
  }
  .d-none-mob {
    display: none;
  }
  .d-section .globalbtn {
    margin-right: 10px;
  }
  .mb-15-px-mob {
    margin-bottom: -15px;
  }
}/*# sourceMappingURL=style.css.map */